# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python package build artifacts
dist/
build/
__pycache__/
.python-version
.env
.venv/
*.sqlite
**.egg-info/
**/datastore/*.json

# Ignore VSCode settings
.vscode/